body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background: #ffffff;
  letter-spacing: -0.01em;
  line-height: 1.25;
}

div{
  
  width: 1000px;
position: absolute;
  left: 30%;
  background-color: #eee;

  
}

a{color: #ff1493;}
a:hover{color:maroon;}
