body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  background: #ffffff;
  letter-spacing: -0.01em;
  line-height: 1.25;

}

div{
  
  width: 800px;
position: absolute;
  background-color: #eee;
  padding-left: 20px;
  padding-right: 20px;
padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px auto 0px auto;
  left: 20%;
  
}

  


a{color: #ff1493;}
a:hover{color:maroon;}
